/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2020, 9:17:04 AM
    Author     : Engineer_Account
*/


.pagination {
    align-items: center;
    justify-content: center;
}

.pagination a {
    background-color: #fff;
    color: green;
    float: left;
    padding: 10px 10px;
    text-decoration: none;
}

.pagination a.active {
    background-color: black;
    color: white;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    border: 1px solid #ddd;
}

.show-airport{
    min-height: 40vh;
    text-align: center;
}