
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2020, 11:58:17 AM
    Author     : Engineer_Account
*/
body{

}
table, td, th {
    border: 1px solid black;

}

table {
    border-collapse: collapse;
    width: 50%;
}

th {
    height: 50px;
    background-color: #91ccf7;
}

.pagination {
    align-items: center;
    justify-content: center;
}

.pagination a {
    background-color: #fff;
    color: green;
    float: left;
    padding: 10px 10px;
    text-decoration: none;
}

.pagination a.active {
    background-color: black;
    color: white;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    border: 1px solid #ddd;
}

.show-list{
    min-height: 50vh;
    text-align: center;
}

.background-searchpage{
    background: url("/images/background-image.jpg") no-repeat center center fixed ;
    background-size: cover;
    background-color: hsla(0,0%,0%,0.1);
    background-blend-mode: overlay;
}

.search-card{
    display: flex !important;
    margin-top: 4vh;
    margin-right: auto;
    margin-left:auto;

}

.search-content{
    padding:50px;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.row-spacing{
    margin-bottom: 5px;
}

.btn-search-flight{
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

.list-item{
    padding: 10px 10px 5px 10px;
    border: 1px solid #c8c8c8;
    position: relative;
    background-color: #FFF;
    margin-bottom: -1px;
    transition: all .2s ease-in-out; 

}

.list-item:hover{
    background-color: #ABF0F9;
    transform: scale(1.01); 
}

.flight-image{
    max-width: 60px;
    max-height: 60px;
}
.highlight-text{
    font-weight: bold;
    font-size: 20px;
}
.price{
    color:red;
    font-size: 25px
}

.medium-label{
    font-weight: 700;
    color: #222;
    font-size: 25px;
}

.price-collapse{
    margin-top:15px;
}

