<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <title>Choose seat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/seat-order.css}"/>
    </head>
    <body class="background-searchpage">
        <div layout:fragment="content">
            <div class='container my-4' >
                <div class='card  seat-choose-container '>
                    <div class='card-body'>
                        <form id='choose-flight-form' th:object="${orderModel}" th:action="@{/flight/customerName}" method="get">
                            <input id= "departureAirportId" type="hidden" th:field="*{departureAirportId}" th:value="${orderModel.departureAirportId}">
                            <input id="arrivalAirportId" type="hidden" th:field="*{arrivalAirportId}" th:value="${orderModel.arrivalAirportId}">
                            <input id="returnType" type="hidden" th:field="*{returnType}" th:value="${orderModel.returnType}">
                            <input id="departureDate" type="hidden" th:field="*{departureDate}" th:value="${orderModel.departureDate}">
                            <input id="returnDate" type="hidden" th:field="*{returnDate}" th:value="${orderModel.returnDate}">
                            <input id="numOfAdult" type="hidden" th:field="*{numOfAdult}" th:value="${orderModel.numOfAdult}">
                            <input id="numOfChildren" type="hidden" th:field="*{numOfChildren}" th:value="${orderModel.numOfChildren}">
                            <input id="numOfSenior" type="hidden" th:field="*{numOfSenior}" th:value="${orderModel.numOfSenior}">
                            <input id="departureFlightId" type="hidden" th:field="*{departureFlightId}" th:value="${orderModel.departureFlightId}">
                            <input id="returnFlightId" type="hidden" th:field="*{returnFlightId}" th:value="${orderModel.returnFlightId}">
                            <input id="listSeatDeparture" type="hidden" th:field="*{listSeatDeparture}" th:value="${orderModel.listSeatDeparture}">
                            <input id="listSeatReturn" type="hidden" th:field="*{listSeatReturn}" th:value="${orderModel.listSeatReturn}">

                            <input type="hidden" id="number-people" 
                                   th:value="${orderModel.numOfAdult+orderModel.numOfChildren
                                   + orderModel.numOfSenior}">
                            <h1>Flight Seat Selection</h1>
                            <div class="seatStructure txt-center" style="overflow-x:auto;">
                                <div class="screen">
                                    <h2 class="wthree col-12">Departure FLight</h2>
                                </div>

                                <div class="row container">
                                    <span class="col-2" 
                                          style="margin-bottom: 15px"
                                          th:each="seat:${listSeatCodeDeparture}">
                                        <th:block th:if="${seat.status ==0}">
                                            <input type="button" 
                                                   style="min-width: 60px;"
                                                   class="btn btn-light seat-departure" 
                                                   th:value="${seat.seatCode}">
                                        </th:block>
                                        <th:block th:unless="${seat.status == 0}">
                                            <input type="button" 
                                                   style="min-width: 60px;"
                                                   class="btn btn-danger" 
                                                   th:value="${seat.seatCode}">
                                        </th:block>
                                    </span>
                                </div>                                                              
                            </div>

                            <th:block th:if="${orderModel.returnType}">
                                <div class="seatStructure txt-center" style="overflow-x:auto;">
                                    <div class="screen">
                                        <h2 class="wthree col-12">Return FLight</h2>
                                    </div>

                                    <div class="row container">
                                        <span class="col-2" 
                                              style="margin-bottom: 15px"
                                              th:each="seat:${listSeatCodeReturn}">
                                            <th:block th:if="${seat.status ==0}">
                                                <input type="button" 
                                                       style="min-width: 60px;"
                                                       class="btn btn-light seat-return" 
                                                       th:value="${seat.seatCode}">
                                            </th:block>
                                            <th:block th:unless="${seat.status == 0}">
                                                <input type="button" 
                                                       style="min-width: 60px;"
                                                       class="btn btn-danger" 
                                                       th:value="${seat.seatCode}">
                                            </th:block>
                                        </span>
                                    </div>                                   

                                </div>
                            </th:block>
                            <div class='row row-spacing'>
                                <div class="col col-12">
                                    <button class="btn btn-primary form-control btn-search-flight col-4"  type="submit">
                                        Continue booking
                                        <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    var limit = $("#number-people").val();
                    $('.seat-departure').on("click", function () {
                        if ($(this).hasClass('choose-seat-departure')) {
                            $(this).removeClass('choose-seat-departure');
                            $(this).addClass('btn-light');
                            return;
                        }
                        var numChosen = $('.choose-seat-departure').length;
                        if (numChosen < limit) {
                            $(this).addClass('choose-seat-departure');
                            $(this).removeClass('btn-light');
                        } else {
                            alert("You have chosen enough for departure flight");
                        }

                    })

                    $('.seat-return').on("click", function () {
                        if ($(this).hasClass('choose-seat-return')) {
                            $(this).removeClass('choose-seat-return');
                            $(this).addClass('btn-light');
                            return;
                        }
                        var numChosen = $('.choose-seat-return').length;
                        if (numChosen < limit) {
                            $(this).addClass('choose-seat-return');
                            $(this).removeClass('btn-light');
                        } else {
                            alert("You have chosen enough for return flight");
                        }

                    })

                    $("#choose-flight-form").on("submit", function (e) {
                        var isReturnType = $('#returnType').val();
                        var numDepartureChosen = $('.choose-seat-departure').length;
                        var numReturnChosen = $('.choose-seat-return').length;
                        if (numDepartureChosen < limit) {
                            alert("Please choose up to " + limit + " seat(s) for departure flight");
                            e.preventDefault();
                            return;
                        } else if (isReturnType=='true' && (numReturnChosen < limit)) {
                            alert("Please choose up to " + limit + " seat(s) for return flight");
                            e.preventDefault();
                            return;
                        } else {
                            var arrDeparture = [];
                            var arrReturn = [];
                            $('.choose-seat-departure').each(function () {
                                arrDeparture.push($(this).val());
                            })
                            $("#listSeatDeparture").val(arrDeparture);
                            
                            $('.choose-seat-return').each(function () {
                                arrReturn.push($(this).val());
                            })
                            $("#listSeatReturn").val(arrReturn);
                        }
                    })
                })
            </script>
        </div>

    </body>
</html>
