<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <title>Customer name</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    <body class="background-searchpage">
        <div layout:fragment="content">
            <div class="container my-4">
                <div class="card">
                    <div class="card-body">
                        <form id='choose-flight-form' th:object="${orderModel}" th:action="@{/flight/order/summary}" method="get">
                            <input id= "departureAirportId" type="hidden" th:field="*{departureAirportId}" th:value="${orderModel.departureAirportId}">
                            <input id="arrivalAirportId" type="hidden" th:field="*{arrivalAirportId}" th:value="${orderModel.arrivalAirportId}">
                            <input id="returnType" type="hidden" th:field="*{returnType}" th:value="${orderModel.returnType}">
                            <input id="departureDate" type="hidden" th:field="*{departureDate}" th:value="${orderModel.departureDate}">
                            <input id="returnDate" type="hidden" th:field="*{returnDate}" th:value="${orderModel.returnDate}">
                            <input id="numOfAdult" type="hidden" th:field="*{numOfAdult}" th:value="${orderModel.numOfAdult}">
                            <input id="numOfChildren" type="hidden" th:field="*{numOfChildren}" th:value="${orderModel.numOfChildren}">
                            <input id="numOfSenior" type="hidden" th:field="*{numOfSenior}" th:value="${orderModel.numOfSenior}">
                            <input id="departureFlightId" type="hidden" th:field="*{departureFlightId}" th:value="${orderModel.departureFlightId}">
                            <input id="returnFlightId" type="hidden" th:field="*{returnFlightId}" th:value="${orderModel.returnFlightId}">
                            <input id="listSeatDeparture" type="hidden" th:field="*{listSeatDeparture}" th:value="${orderModel.listSeatDeparture}">
                            <input id="listSeatReturn" type="hidden" th:field="*{listSeatReturn}" th:value="${orderModel.listSeatReturn}">
                            <input id="adultList" type="hidden" th:field="*{adultList}" th:value="${orderModel.adultList}">
                            <input id="childrenList" type="hidden" th:field="*{childrenList}" th:value="${orderModel.childrenList}">
                            <input id="seniorList" type="hidden" th:field="*{seniorList}" th:value="${orderModel.seniorList}">
                            <div class='row'>
                                <h2 class='col-12'>Customer name</h2>
                            </div>
                            <div style='border: 1px black;margin-top: 20px'>
                                <th:block th:each="i: ${#numbers.sequence(1, orderModel.numOfAdult)}">
                                    <div th:if="${orderModel.numOfAdult>0}" class='row justify-content-md-center' style='margin-top:20px'>
                                        <label class="adult col-2" th:text="${'Adult #'+i}">Adult</label>
                                        <input type='text' class='customer-adult-name form-control col-4 input-text'>
                                    </div>
                                </th:block>
                            </div>
                            <div style='border: 1px black;margin-top: 20px'>
                                <th:block th:if="${orderModel.numOfChildren >0}" th:each="i: ${#numbers.sequence(1, orderModel.numOfChildren)}">
                                    <div class='row justify-content-md-center' style='margin-top:20px'>
                                        <label class="children col-2" th:text="${'Children #'+i}">Children</label>
                                        <input type='text' class='customer-children-name form-control col-4 input-text'>
                                    </div>
                                </th:block>
                            </div>
                            <div style='border: 1px black;margin-top: 20px'>
                                <th:block th:if="${orderModel.numOfSenior>0}" th:each="i: ${#numbers.sequence(1, orderModel.numOfSenior)}">
                                    <div class='row justify-content-md-center' style='margin-top:20px'>
                                        <label class="senior col-2" th:text="${'Senior #'+i}">Senior:</label>
                                        <input type='text' class='customer-senior-name form-control col-4 input-text'>
                                    </div>
                                </th:block>
                            </div>
                            <div style='border: 1px black;margin-top: 20px'>
                                <th:block >
                                    <div class='row justify-content-md-center' style='margin-top:20px'>
                                        <label class="senior col-2" >Representative</label>
                                        <input type='text' th:field="*{representativeName}" class='representative-name form-control col-4 input-text'>
                                    </div>
                                </th:block>
                            </div>
                            <div style='border: 1px black;margin-top: 20px'>
                                <th:block >
                                    <div class='row justify-content-md-center' style='margin-top:20px'>
                                        <label class="senior col-2" >Phone </label>
                                        <input type='text' th:field="*{phone}" class='phone form-control col-4 input-text'>
                                    </div>
                                </th:block>
                            </div>
                            <div style='border: 1px black;margin-top: 20px'>
                                <th:block >
                                    <div class='row justify-content-md-center' style='margin-top:20px'>
                                        <label class="senior col-2" >Email</label>
                                        <input type='text' th:field="*{email}" class='email form-control col-4 input-text'>
                                    </div>
                                </th:block>
                            </div>
                            <div class='row row-spacing'>
                                <div class="col col-12">
                                    <button class="btn btn-primary form-control btn-search-flight col-4 "  type="submit">
                                        Continue booking
                                        <i class="fas fa-arrow-right"></i></button>
                                    </button>
                                </div>
                            </div>                   
                        </form>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $('#choose-flight-form').on('submit', function (e) {
                            $('.input-text').each(function () {
                                if (!$(this).val()) {
                                    $(this).addClass('required-input');
                                    $(this).focus();
                                    e.preventDefault();
                                    return;
                                }
                            })
                            var adultList = [];
                            $('.customer-adult-name').each(function () {

                                adultList.push($(this).val());
                            })
                            $('#adultList').val(adultList);

                            var childrenList = [];
                            $('.customer-children-name').each(function () {

                                childrenList.push($(this).val());
                            })
                            $('#childrenList').val(childrenList);

                            var seniorList = [];
                            $('.customer-senior-name').each(function () {
                                seniorList.push($(this).val());
                            })
                            $('#seniorList').val(seniorList);
                        })


                        $('.input-text').on("keypress", function () {
                            $(this).removeClass('required-input');
                        })
                    })
                </script>
            </div>
        </div>
    </body>
</html>
