<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Faber Airlines</title>
    </head>
    <body>
        <!--/* Standard layout can be mixed with Layout Dialect */-->
        <div th:replace="fragments/header :: header">
            ...
        </div>
        <div class="container-fluit ml-3 mr-3">
            <div layout:fragment="content">

            </div>
            <footer>
                <div th:replace="fragments/footer :: footer">Copyright Faber Company</div>
            </footer>
        </div>
    </body>
</html>